/* .testing{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }


.cards {
    color: rgb(64, 173,206);
    width: 300px;
    border-color: rgb(236, 236, 80);
    margin: auto;
}

.cards :hover {
    color: rgb(236, 99, 30);
    transition: 1s;
}

.card-column {
    margin-top: 50px;
    
}

h2::first-letter{
    text-transform: uppercase;
}

h6::first-letter{
    text-transform: uppercase;
}

#editGift, #editHoliday {
    margin-bottom: 5px;
    background-color: rgb(130, 217, 87);
}

#deleteGift, #deleteHoliday {
    background-color: rgb(236, 99, 30);
} */

