.cards {
    margin-bottom: 20px;
    color: rgb(61, 190, 184);
    width: 350px;
    

}

.cards :hover {
    color: orange;
    transition: 1s;
}

.card-column {
   margin-left: 1em;
    
}

h2::first-letter{
    text-transform: uppercase;
}

h6::first-letter{
    text-transform: uppercase;
}

#editGift {
    margin-bottom: 10px;
}