input[type=text] {
    width: 130px;
    height: 35px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 30%;
  }

#searchButton {
    margin-left: 10px;
    height: 35px;
    background-color: rgb(64, 173, 206);
    /* float: left; */
}

#inputBar {
    margin-left: 25px;
    margin-top: 25px;
    
}