.navButtons {
    font-size: 1.25em;
    margin-right: 2em;
    border: 0px;
    cursor: pointer;
    position: relative;
    font-family: 'Texturina', serif;
    font-weight: 500;
    font-style: italic;
    border-radius: 25px;
}

#navbarTop {
    
    left: 10px;
    top: 5px;
}

/* adjust nav bars to look better */