.App {
  text-align: center;
  background-color: blueviolet;
  font-family: 'Texturina', serif;
  height: 100%;
  background-repeat: repeat-y;
}

body {
  background-size: cover;
  background-position: center;
  background-color: blueviolet;
  height: 100%; 
  
}

#loginBtn {
  transition: all 1s ease;
}

#giftSearch {
  margin-right: 10px;
  border-radius: 10px;
}
html {
  background-color: blueviolet;
}