.loginBtn, .submitBtn {
    transition: all 1s ease;
    margin: 10px;
    background-color: white;
    font-style: italic;
    font-weight: 500;
    color: rgb(130, 217, 87)
}

.loginBtn:focus {
    outline: 0px;
}
.loginBtn:active {
  padding-bottom: 10px;
    border-bottom: solid 2px #1059FF;
}


.login-register {
  height: 420px;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 2em;
  font-style: italic;
  font-weight: 800;
  border-radius: 80px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  overflow: hidden;
  background: rgb(130, 217, 87);
  color: rgb(255, 255, 255);
  transition: all 2s ease;
}
